<!-- Its just extending layout html which is common between pages-->
{% extends "layout.html" %}
{% block content %}
	<h3>Weather Subsciption Web App</h3>
	<p>Hello guys<br> I am Smitkumar Panchal and I am 3rd year computer engineering student and this is 
		my project which gets user's name, mail id and which city's weather he/she want subsciption 
		to get daily updates and user will automatically get daily update on subscibed mail id.</p>
	<p>If you want to reach to me right side my Social media's links.</p>
{% endblock %}